<div class="container">
    <div class="section-heading" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
        <h6><span> Servicios</span></h6>
        <h2>Mis <span>Servicios </span>y conocimientos</h2>
    </div>
    <div class="row gy-5">
        <div class="col-sm-6 col-lg-3"  data-aos="fade-up" data-aos-duration="3000">
            <div class="services-box" style="background-image: url(assets/img/service-01.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-brush-fill"></i>
                    </div>
                    <h5>Desarrollo de Aplicaciones y Sistemas Web</h5>
                    <p>Diseño y construcción de soluciones web personalizadas responsivas, desde la interfaz de usuario hasta el backend, garantizando funcionalidad y eficiencia.
                        .</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3"  data-aos="fade-up" data-aos-duration="3000">
            <div class="services-box" style="background-image: url(assets/img/service-02.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-code-square"></i>
                    </div>
                    <h5>Analista de sistemas</h5>
                    <p>Evaluación exhaustiva de sistemas existentes, identificación de áreas de mejora y propuesta de soluciones para optimizar el rendicimiento y calidad de los procesos.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3"  data-aos="fade-up" data-aos-duration="3000">
            <div class="services-box" style="background-image: url(assets/img/service-03.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-speedometer2"></i>
                    </div>
                    <h5>Diseñador de sitios webs</h5>
                    <p>Creación de sitios webs totalmente responsivos para tablets y celulares, integrando diseño atractivo, funcionalidades avanzadas y una navegación intuitiva.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3"  data-aos="fade-up" data-aos-duration="3000">
            <div class="services-box" style="background-image: url(assets/img/service-04.jpg);">
                <div class="services-body">
                    <div class="icon">
                        <i class="bi-palette"></i>
                    </div>
                    <h5>Trafficker digital en facebook ads y google analytics</h5>
                    <p>Gestión integral de campañas publicitarias en Facebook Ads, optimizando la segmentación del público objetivo, Asimismo implementación y análisis profundo con Google Analytics para proporcionar insights detallados sobre el comportamiento del usuario.</p>
                    <div class="rating">
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-fill"></i>
                        <i class="bi-star-half"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>