<div class="container">
    <div class="effect-1" data-aos="fade-down-left">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2" data-aos="fade-down-left">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-5 col-xl-5" data-aos="fade-down-right" data-aos-duration="3000">
            <div class="about-banner text-center">
                <img class="bordered-image" src="../../../assets/img/Profesional_Piero2.jpg" title="" alt="">
            </div>
        </div>
        <div class="col-lg-7 col-xl-7 px-lg-5" >
            <div class="about-text">
                <div data-aos="fade-down" data-aos-easing="linear" data-aos-duration="3000">
                    <div class="section-heading">
                        <h6><span>Sobre Mí</span></h6>
                        <h2>Bachiller de la carrera de <span>Ingeniería de Sistemas e Informática</span> de la <span class="span2">Universidad Tecnológica del Perú</span></h2>
                    </div>
                    <p>Desarrollo aplicaciones web complejas para empresas de todo tipo como sitios web y tiendas en línea elegantes y modernos. Mi pasión es diseñar experiencias de usuario digitales a través de interacciones significativas.</p>
                </div>
                
                <div class="review-box" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                    <div class="r-box">
                        <h3>24<span></span></h3>
                        <label>Edad </label>
                    </div>
                    <div class="r-box">
                        <h3>2<span>+</span></h3>
                        <label>Años de Experiencia<br> Programando</label>
                    </div>
                    <div class="r-box">
                        <h3>10<span>+</span></h3>
                        <label>Proyectos realizados</label>
                    </div>
                </div>
                <div class="btn-bar" data-aos="fade-up" >
                    <a class="px-btn" href="../../../assets/img/CV_Piero_Vasquez_confoto.pdf" download><span>Descargar CV</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>