<div class="container">
    <div class="row justify-content-between" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
        <div class="col-lg-5">
            <div class="section-heading">
                <h6><span>Mis trabajos</span></h6>
                <h2>Proyectos Recientes</h2>
            </div>
        </div>
    </div>
    <div class="lightbox-gallery" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <a target="_blank" href="https://adprov.app/web/">
                        <img src="../../../assets/img/portafolio/proyect-1.png" title="ADPROV" alt=""  >
                    </a>
                    <!-- <a class="gallery-link" data-title="SISTEMA WEB ADPROV" data-lightbox="services"><i class="bi-plus"></i></a> -->
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Aplicación Web de Contratistas ADPROV</h5>
                        <span>Desarrollado en Angular, C# en .NET (con APIS) y SQL</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal" data-bs-toggle="modal" 
                        data-bs-target="#project_1"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <a target="_blank" href="https://sistema-farmacia.gianpierovasquez.cloud">
                        <img src="../../../assets/img/portafolio/proyect-2.png" title="" alt="" >
                    </a>
                        
                    <!-- <a class="gallery-link" href="../../../assets/img/portafolio/proyect-2.png" data-title="Caption for image 2" data-lightbox="services"><i class="bi-plus"></i></a> -->
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Sistema Web Farmaceútica</h5>
                        <span>Desarrollado en PHP, JavaScript y MYSQL</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_2"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <a target="_blank" href="https://sistema-hotel-micielo.gianpierovasquez.cloud">
                        <img src="../../../assets/img/portafolio/proyect-3.png" title="" alt="">
                    </a>
                    <!-- <a class="gallery-link" href="../../../assets/img/portafolio/proyect-3.png" data-title="Caption for image 3" data-lightbox="services"><i class="bi-plus"></i></a> -->
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Sistema administrativo Hotel Paraíso</h5>
                        <span>Desarrollado en PHP, JavaScript y MYSQL</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_3"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <a target="_blank" href="https://sistema-citas-medicas.gianpierovasquez.cloud">
                        <img src="../../../assets/img/portafolio/proyect-4.png" title="" alt="">
                    </a>
                    <!-- <a class="gallery-link" href="../../../assets/img/portafolio/proyect-4.png" data-title="Caption for image 4" data-lightbox="services"><i class="bi-plus"></i></a> -->
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Sistema Gestión de citas médicas</h5>
                        <span>Desarrollado en PHP, JavaScript y MYSQL</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_4"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/popup-project-5.jpg" title="" alt="">
                    <a class="gallery-link" href="assets/img/popup-project-5.jpg" data-title="Caption for image 5" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Website Design</h5>
                        <span>Web Design, App Design</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_5"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="project-box">
                <div class="project-media">
                    <img src="assets/img/popup-project-6.jpg" title="" alt="">
                    <a class="gallery-link" href="assets/img/popup-project-6.jpg" data-title="Caption for image 6" data-lightbox="services"><i class="bi-plus"></i></a>
                </div>
                <div class="project-body">
                    <div class="text">
                        <h5>Website Design</h5>
                        <span>Web Design, App Design</span>
                    </div>
                    <div class="link">
                        <a class="p-link px_modal"  data-bs-toggle="modal" 
                        data-bs-target="#project_6"><i class="bi-arrow-right"></i> </a>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>
</div>