<div class="effect-3" data-aos="fade-down-right" data-aos-duration="3000">
    <img src="assets/img/effect-3.svg" title="" alt="">
</div>
<div class="effect-4" data-aos="fade-up">
    <img src="assets/img/effect-4.svg" title="" alt="">
</div>
<div class="container">
    <div class="section-heading text-center" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
        <h6><span>Certificados y Reconocimientos</span></h6>
    </div>
    <owl-carousel-o [options]="customOptionsSingle" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine" >
        
        <ng-template carouselSlide>
            <div class="section-heading text-center">
                <h2><span>SQL </span>SERVER </h2>
            </div>
            <div class="certificate-box" data-aos="fade-up" data-aos-duration="3000">
            <div class="t-user">
                <img src="assets/img/certificate1.jpg" title="" alt="">
            </div>
            <!-- <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div> -->
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="section-heading text-center">
                <h2>Google <span>Alanytics</span> </h2>
            </div>
            <div class="certificate-box">
            <div class="t-user">
                <img src="assets/img/certificate2.jpeg" title="" alt="">
            </div>
            <!-- <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div> -->
            </div>
        </ng-template>  
        <ng-template carouselSlide>
            <div class="section-heading text-center">
                <h2>Google <span>Ads</span> </h2>
            </div>
            <div class="certificate-box">
            <div class="t-user">
                <img src="assets/img/certificate3.png" title="" alt="">
            </div>
            <!-- <div class="t-text">
                Donec tellus sem, tempor ac purus a, porttitor lobortis purus. Etiam quis nisl eget ex pulvinar consectetur. Suspendisse potenti. Cras non elementum risus. Fusce massa tellus, consequat a rutrum et, aliquam a lacus. Quisque viverra egestas tincidunt. Nunc nec nisi sed enim consectetur ullamcorper. Vestibulum at neque tortor. Pellentesque urna enim, ultricies at tortor eu, elementum egestas leo. In hac habitasse platea dictumst.
            </div>
            <div class="t-person">
                <h6>Pamela Anders</h6>
                <span>Company Name</span>
            </div> -->
            </div>
        </ng-template> 
    </owl-carousel-o> 
</div>