<div class="container">
    <div class="section-heading" data-aos="fade-right" data-aos-offset="200" data-aos-easing="ease-in-sine">
        <h6><span>Experiencias</span></h6>
        <h2>Mis experencias <span>de trabajo</span></h2>
    </div>
    <div class="row gy-3">
        <div class="col-12" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Full-Stack Developer</h4>
                            <span>Modalidad | Presencial</span>
                            <p>Abril 2023 - Actualidad</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Empresa ISI GROUP S.A.C - Consultoría de TIC</h5>
                            <p class="m-0">Desarrollé sistemas webs para diferentes empresas, utilizando para el frontend el framework Angular, para el backend .NET C# y manejo de datos en SQL Server.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" data-aos="fade-left"  data-aos-offset="300" data-aos-duration="500">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Full-Stack Developer</h4>
                            <span>Modalidad | Remoto</span>
                            <p>Enero 2023 - Abril 2023</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>EMPRESA PUBLIULTRA - Agencia de Marketing</h5>
                            <p class="m-0">Diseñé e implementé aplicaciones web tanto de front-end como back-end. Asimismo desarrollé sistemas CMS como WordPress 
                                y Shopify para clientes que necesitaban ventas sus sitios web.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
            <div class="ex-box">
                <div class="row gy-4">
                    <div class="col-md-4 col-lg-3">
                        <div class="ex-left">
                            <h4>Full-Stack Developer</h4>
                            <span>Modalidad| Remoto</span>
                            <p>Marzo 2022 - Dic 2022</p>
                            <label>Full time</label>
                        </div>
                    </div>
                    <div class="col-md-8 col-lg-9">
                        <div class="ex-right">
                            <h5>Freelancer</h5>
                            <p class="m-0">Desarrollé y diseñé sitios web personalizados, utilizando PHP, HTML, CSS y JavaSCript para pequeñas empresas que se 
                                encuentran en pleno crecimiento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>