<div class="container" data-aos="fade-up" data-aos-duration="3000">
    <div class="contactus-box rounded oveflow-hidden gray-bg">
        <div class="row g-0 p-4 p-lg-5" data-aos="fade-left"  data-aos-offset="300" data-aos-duration="500">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="contactus-title">
                    <h5>Contáctame :)</h5>
                    <p class="m-0">Si tienes alguna sugerencia de algún proyecto o necesita de mi servicio, por favor llena el siguiente formulario y te responderé inmediatamente.</p>
                </div>
            </div>
        </div>
        <div class="row g-0 contactus-form p-4 p-lg-5 flex-row-reverse">
            <div class="col-lg-8">
                <div class="contact-form">
                    <form [formGroup]="contactForm" data-aos="fade-up" data-aos-offset="300" (ngSubmit)="register()">
                        <div class="row gx-3 gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Nombres y Apellidos</label>
                                    <input formControlName="fullname"
                                    name="Name" id="name" placeholder="Ingrese sus nombres y apellidos *" class="form-control" type="text" maxlength="30">
                                    <div *ngIf="showErrors && contactForm.get('fullname')?.hasError('required')">
                                        <span class="span3">* Nombre es requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Correo</label>
                                    <input formControlName="email" 
                                    name="Email" id="email" placeholder="Ingrese su correo *" class="form-control" type="email" maxlength="60">
                                    <div *ngIf="showErrors && contactForm.get('email')?.hasError('required')">
                                        <span class="span3">* Correo es requerido</span>
                                    </div>
                                    <div *ngIf="showErrors && contactForm.get('email')?.hasError('email')">
                                        <span class="span3">* El correo es inválido, eje: email@gmail.com</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Teléfono</label>
                                    <input formControlName="phone" 
                                    name="Subject" id="telf" placeholder="Ingrese su teléfono *" class="form-control" type="text" maxlength="15">
                                    <div *ngIf="showErrors && contactForm.get('phone')?.hasError('required')">
                                        <span class="span3">* Teléfono es requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Mensaje</label>
                                    <textarea formControlName="message"
                                    name="message" id="message" placeholder="Ingrese su mensaje *" rows="4" class="form-control" maxlength="300"></textarea>
                                    <div *ngIf="showErrors && contactForm.get('message')?.hasError('required')">
                                        <span class="span3">* Mensaje es requerido</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn w-100" type="submit" [disabled]="preloader" value="Send"> Enviar mensaje</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 pe-md-5" data-aos="fade-up" data-aos-duration="3000">
                <div class="contact-banner d-none d-lg-block" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
                    <img class="bordered-image" src="assets/img/Profesional_Piero.jpg" title="" alt="">
                </div>
                <div class="contact-info">
                    <div class="contact-info-in">
                            <label>Correo</label>
                        <a href="mailto:gianpvp99@gmail.com">gianpvp99@gmail.com</a>
                    </div>
                    <div class="contact-info-in">
                        <label>Teléfono</label>
                        <a href="tel:+51993761184">(+51) 993 761 184</a>
                    </div>
                </div>
                <div class="social-icon">
                    <a class="facebook" href="https://www.facebook.com/Gianpiervp" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="github" href="https://github.com/gianpvp99" target="_blank"><i class="fab fa-github" target="_blank"></i></a>
                        <a class="linkedin m-0" href="https://www.linkedin.com/in/gianpvp99/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>