<div class="container" data-aos="fade-down">
    <div class="row align-items-center">
        <div class="col-lg-6" >
            <div class="hs-text-box">
                <h6><span>Ingeniero de Sistemas e Informático</span></h6>
                <h1>Hola, me llamo Gian Piero</h1>
                <h2><span class="typed-element"></span></h2>
                <p class="text">Soy un desarrollador web de Lima - Perú, con conocimientos en front-end y back-end.
                     Tengo una gran pasión por los efectos de interfaz de usuarios responsivos, base de datos y
                      la creación de experiencias de usuario intuitivas y dinámicas.</p>
                <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
                    <a class="px-btn" href="../../../assets/img/CV_Piero_Vasquez_confoto.pdf" download ><span>Descargar CV</span>
                         <!-- <i class="bi-arrow-right"></i> -->
                         </a>
                    <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                        <a class="facebook" href="https://www.facebook.com/Gianpiervp" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a class="github" href="https://github.com/gianpvp99" target="_blank"><i class="fab fa-github" target="_blank"></i></a>
                        <a class="linkedin m-0" href="https://www.linkedin.com/in/gianpvp99/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hs-banner">
                <img src="assets/img/home-banner.png" title="" alt="">
                <!-- <img src="assets/img/home-banner.webp" title="" alt=""> -->

            </div>
        </div>
    </div>
</div>